@font-face {
    font-family: 'mena-handwriting';
    src: url('../resources/Mena_handwriting_2023-Regular.otf'), url('../resources/Mena_handwriting_2023-Regular.ttf')
}

@font-face {
    font-family: 'mynerve';
    src: url('../resources/Mynerve-Regular.ttf')
}

.filter-stickies {
    font-family: 'mena-handwriting', 'mynerve';
    display: flex;
    justify-content: flex-end;
}

#month-filter{
    background-color: rgb(149, 92, 255);
    padding: 10px 10px 20px 10px;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0px -1px 6px rgb(60, 0, 112);
}

#year-filter{
    background-color: rgb(136, 71, 255);
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0px -1px 6px rgb(60, 0, 112);
}

#sort-filter{
    background-color: rgb(113, 36, 255);
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0px -1px 6px rgb(60, 0, 112);
}

.commonPlace-container {
    display: flex;
    flex-direction: row;
    font-family: 'mena-handwriting', 'mynerve';
    font-size: 30px;
}

.tagsNav {
    flex: 1;
    align-self: flex-start;
    position: sticky;
    top: 0;
}

.posts-container {
    flex: 4;
    background-color: white;
}
