.eurobets-container {
  margin: 20px;
}

.flexbox-panel {
  display: flex;
  flex-direction: row;
}

.flexbox-panel-left {
  flex: 1;
  min-width: 0;
}

.flexbox-panel-right {
  flex: 2;
  min-width: 0;
}
