.panel-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
  font-size: 14px;
  border: 2px solid black;
  resize: both;
  overflow: auto;
  position: absolute;
  filter: drop-shadow(2px 2px black)
}

.title-bar {
  order: 1;
  background: linear-gradient(264deg, rgba(175,0,215,1) 0%, rgba(255,184,253,1) 56%, rgba(160,255,242,1) 88%);
  padding: 5px;
  /* font-weight: bold; */
  font-size: 15px;
  display: flex;
  top: 0;
  position: sticky;
}

.title-bar-icons {
  margin-left: auto;
  display: flex;
  flex-direction: row;
}

.title-bar-button {
  border: 2px solid purple;
  padding: 1px 5px;
}

.title-bar-button:hover {
  background-color: pink;
}

.content-container {
  order: 2;
  background: #e3e3e3;
  height: 100%;
}


/* specific files default width/height */

#panel_about {
  width: 400px;
  height: 330px;
}

#panel_experience {
  width: 445px;
  height: 440px;
}

#panel_skills {
  width: 405px;
  height: 390px;
}

#panel_me {
  width: 300px;
  height: 300px;
}

#panel_eurobets {
  max-height: 90%;
}
